* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box1 {
  height: 200px;
  width: 200px;
  background-color: #e64326;
}
.box2 {
  height: 200px;
  width: 200px;
  background-color: #f5f6fa;
}
.box3 {
  height: 200px;
  width: 200px;
  background-color: #8090a5;
}
.box4 {
  height: 200px;
  width: 200px;
  background-color: #283e74;
}

@media (max-width: 500px) {
  .sub1 {
    position: absolute;
    left: 20%;
    top: 30%;
  }
}
